/*Fontes*/
@font-face {
    font-family: jetbrainsmono;
    src: url(font/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Bold.ttf);
}
@font-face {
    font-family: jersey25;
    src: url(font/Jersey_25/Jersey25-Regular.ttf);
}

body {
    background-image: url('images/mulherPensando.webp');
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
}
#video {
    margin-bottom: 50px;
    width: 40%;
    border-radius: 20px;
}
#videoC {
    width: 100%;
    display: flex;
    justify-content: center;
}
.unidade {
    width: 100%;
    height: 50%;
    border-radius: 500px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
nav {
    background-color: #017DC8;
    text-align: center;
    margin: -10px -7px 50px -7px;
}
input {
    font-family: jetbrainsmono;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    z-index: 3;
}
aside {
    display: flex;
    justify-content: space-around;
}
#botoes {
    position: absolute;
    width: 81%;
    display: flex;
    justify-content: space-around;
}
#botao1 {
    font-family: jetbrainsmono;
}
#botao4 {
    font-family: jetbrainsmono;
}
#botao5 {
    font-family: jetbrainsmono;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
#itens1 {
    width: 250px;
    height: 100px;
}
#itens2 {
    width: 250px;
    height: 100px;
}
#itens3 {
    width: 250px;
    height: 100px;
}
#itens4 {
    width: 250px;
    height: 100px;
}

#dataEvento {
    font-family: jetbrainsmono;
    font-size: 20px;
    margin-top: -50px;
    right: 1500px;
    margin-left: 50%;
}
#tituloPrincipal {
    font-family: jersey25;
    font-size: 120px;
    letter-spacing: 4px;
    margin: -5px 80px 50px 80px;
}
h1 {
    text-align: center;
    font-size: 80px;
    font-family: jersey25;
}
h2 {
    font-family: jersey25;
}
.pagina {
    width: 300px;
    height: auto;
    margin: 10px;
    font-family: jetbrainsmono;
    margin-bottom: 100px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    background-color: rgb(251, 238, 253);
    padding: 30px;
    color: black;
    flex-grow: 1;
    flex-basis: 200;
}
.pagina:hover {
    zoom: 110%;
    height: auto;
    z-index: 1;
    box-shadow: 0 0 20px black;

}
#pag44 {
    height: auto;
}
    

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
}
p {
    font-family: jetbrainsmono;
}
#pag1 {
    left: 10px;
    
}
#pag3 {
    right: 10px;
    text-align: left;
}

footer {
    background-color: #017DC8;
    text-align: center;
    margin: 0 -7px -50px;
    box-shadow: 0 0 30px rgb(49, 49, 49);
}
.logosBrancas {
    width: 15%;
}
#BCbranca {
    margin-bottom: 20px;
}

@media screen and (max-width: 980px){
    /*Nav*/
    nav {
      height: auto;
    }
    #video {
        border-radius: 15px;
        width: auto;
    }
    .unidade {
        height: 30%;
    }
    input {
        font-size: 10px;
        margin-top: 30px;
    }
    #botao1 {
        margin-top: 30px;
        font-size: 9px;
    }
    #botao4 {
      font-size: 9px;
      margin-top: 30px;
    }
    #botao5 {
      font-size: 9px;
      margin-top: 30px;
    }
    #itens1 {
        width: 80px;
    }
    #itens2{
        width: 80px;
    }
    #itens3 {
        width: 80px;
    }
    #itens4 {
        width: 80px; 
    }   
    #tituloPrincipal {
        font-size: 30px;
        margin-left: 0;
        width: 100%;
    }
    #tituloPagina {
        font-size: 50px;
    }
    #dataEvento {
        font-size: 15px;
        margin-top: -50px;
    }
    #pag11{
        height: 700px;
    }
    #pag12{
        height: 1000px;
    }
    #pag13{
        height: 1000px;
    }
    #BCbranca {
    margin-bottom: 10px;
}
}
