/*Fontes*/
@font-face {
    font-family: jetbrainsmono;
    src: url(font/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Bold.ttf);
}
@font-face {
    font-family: jersey25;
    src: url(font/Jersey_25/Jersey25-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

/*ANIMAÇÃO COMPLEXA DEMAIS*/
.wrapper{
    position: absolute;
    float: left;
    margin: 100px 65px 140px 0;
    zoom: 150%;
  }

  .line{
    position: absolute;
    top: 0px;
    width: 2px;
    height: 8px;
    background-color: red;
  }

  .circle{
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue;
  }
  .circle-top{
    top: 0px;
    left: -3.5px;
  }
  .circle-bottom{
    bottom: 0px;
    left: -3.5px;
  }

  .dot{
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: -1.5px;
  }

  .line1{
    margin-left: 0px;
    background-color: #2410CB;
    -webkit-animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  }
  .line1 > span{
    background-color: #D4141E;
  }
  .line1 > .dotted > .dot{
    background-color: #D4141E;
  }
  .line1 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  }
  .line1 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  }
  .line1 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  }
  .line1 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  }

  .line2{
    margin-left: 35px;
    background-color: #852DF4;
    -webkit-animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  }
  .line2 > span{
    background-color: #FC7E48;
  }
  .line2 > .dotted > .dot{
    background-color: #FC7E48;
  }
  .line2 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  }
  .line2 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  }
  .line2 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  }
  .line2 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  }

  .line3{
    margin-left: 70px;
    background-color: #F42DF1;
    -webkit-animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  }
  .line3 > span{
    background-color: #EDEB29;
  }
  .line3 > .dotted > .dot{
    background-color: #EDEB29;
  }
  .line3 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  }
  .line3 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  }
  .line3 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  }
  .line3 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  }

  .line4{
    margin-left: 105px;
    background-color: #F91396;
    -webkit-animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  }
  .line4 > span{
    background-color: #ACED29;
  }
  .line4 > .dotted > .dot{
    background-color: #ACED29;
  }
  .line4 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  }
  .line4 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  }
  .line4 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  }
  .line4 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  }

  .line5{
    margin-left: 140px;
    background-color: #D4141E;
    -webkit-animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  }
  .line5 > span{
    background-color: #4EF02B;
  }
  .line5 > .dotted > .dot{
    background-color: #4EF02B;
  }
  .line5 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  }
  .line5 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  }
  .line5 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  }
  .line5 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  }

  .line6{
    margin-left: 175px;
    background-color: #FC7E48;
    -webkit-animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: line 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  }
  .line6 > span{
    background-color: #38E790;
  }
  .line6 > .dotted > .dot{
    background-color: #38E790;
  }
  .line6 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-top 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  }
  .line6 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  }
  .line6 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-middle-top 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  }
  .line6 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-middle-bottom 3s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  }

  @-webkit-keyframes line{
    0%{height: 4px; top: 0px; left: 0px; -webkit-transform: rotate(-65deg)}
    10%{height: 220px; top: -110px; left: 15px;}
    45%{height: 200px; top: -100px; left: 25px;}
    70%{height: 8px; top: 0px; left: 25px; -webkit-transform: rotate(0deg);}
    100%{height: 8px; top: 0px; left: 15px; -webkit-transform: rotate(0deg);}
  }
  @-webkit-keyframes dot-top{
    0%{top: -30px}
    10%{top: -30px;}
    45%{top: -25px;}
    60%{top: 0px;}
    100%{top: 0px;}
  }
  @-webkit-keyframes dot-bottom{
    0%{bottom: -30px}
    10%{bottom: -30px;}
    45%{bottom: -25px;}
    60%{bottom: 0px;}
    100%{bottom: 0px;}
  }
  @-webkit-keyframes dot-middle-top{
    0%{}
    10%{}
    45%{top: 98px;}
    70%{top: -50px;}
    85%{top: 0px;}
    100%{top: 0px;}
  }
  @-webkit-keyframes dot-middle-bottom{
    0%{}
    10%{}
    45%{bottom: 98px;}
    70%{bottom: -50px;}
    85%{bottom: 0px;}
    100%{bottom: 0px;}
  }
  
  @keyframes line{
    0%{height: 4px; top: 0px; left: 0px; transform: rotate(-65deg)}
    10%{height: 220px; top: -110px; left: 15px;}
    45%{height: 200px; top: -100px; left: 25px;}
    70%{height: 8px; top: 0px; left: 25px; transform: rotate(0deg);}
    100%{height: 8px; top: 0px; left: 15px; transform: rotate(0deg);}
  }
  @keyframes dot-top{
    0%{top: -30px}
    10%{top: -30px;}
    45%{top: -25px;}
    60%{top: 0px;}
    100%{top: 0px;}
  }
  @keyframes dot-bottom{
    0%{bottom: -30px}
    10%{bottom: -30px;}
    45%{bottom: -25px;}
    60%{bottom: 0px;}
    100%{bottom: 0px;}
  }
  @keyframes dot-middle-top{
    0%{}
    10%{}
    45%{top: 78px;}
    70%{top: -50px;}
    85%{top: 0px;}
    100%{top: 0px;}
  }
  @keyframes dot-middle-bottom{
    0%{}
    10%{}
    45%{bottom: 78px;}
    70%{bottom: -50px;}
    85%{bottom: 0px;}
    100%{bottom: 0px;}
  }

/*FIM DA ANIMAÇÃO COMPLEXA*/

body {
    background-image: url('images/mulherPensando.webp');
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
    
}
/*Navegação*/
nav {
    background-color: #017DC8;
    text-align: center;
    margin: -10px -7px 50px -7px;
}
input {
    border: none;
    background-color: #017DC8;
    color: white;
    cursor: pointer;
    z-index: 3;
}
aside {
    display: flex;
    justify-content: space-around;
}
#botoes {
    position: absolute;
    width: 81%;
    display: flex;
    justify-content: space-around;
}
#botao5 {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#itens1 {
    width: 250px;
    height: 100px;
}
#itens2 {
    width: 250px;
    height: 100px;
}
#itens3 {
    width: 250px;
    height: 100px;
}
#itens4 {
    width: 250px;
    height: 100px;
}

/*Header*/
@keyframes logosenac {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        padding: 0;
    }
    70% {
        opacity: 0;
        padding-right: 0px;
    }
    85% {
        opacity: 100%;
        padding-left: 5px;
    }
    90% {
        opacity: 100%;
        padding-right:10px;
    }
    100% {
        opacity: 0;
        padding-right: 10px;
    }
}

header {
    text-align: center;
}
#destaque {
    width: auto;
    margin: 50px 0 150px -200px;
    height: 200px;
    display: flex;
    justify-content: center;
}
#logoSenacColorida {
    opacity: 0;
    width: 200px;
    height: 120px;
    margin: 20px -10px -500px 200px;
    display: flex;
    justify-content: center;
    animation: logosenac 3s infinite;
    animation-delay: .25s;
}
#dataEvento {
    font-family: jetbrainsmono;
    font-size: 20px;
    margin-top: -50px;
    right: 1500px;
    margin-left: 50%;
}
#tituloPrincipal {
    font-family: jersey25;
    font-size: 120px;
    letter-spacing: 4px;
    margin: -20px 80px 50px 80px;
}

/*Main*/
main {
    text-align: center;
}
#textoGeral {
  background-color: white;
  color: #2410CB;
  margin: 50px 80px;
<<<<<<< HEAD
  padding-top: 100px;
  border-radius: 100px 100px 0 0;
  padding-bottom: 45%;
=======
  padding-top: 150px;
  border-radius: 100px 100px 0 0;
  padding-bottom: 30%;
>>>>>>> 679e157fb3d35c246a0925371961cbef00f780bb
  box-shadow: 0 0 20px gray;
  height: 500px;
}
video {
    margin: auto;
    width: 50%;
    border-radius: 50px;
}
#sobreOProjeto {
    font-family: jersey25;
    font-size: 70px;
    margin-top: 50px;
}
#textoDoProjeto {
    font-family: jetbrainsmono;
<<<<<<< HEAD
    margin: 120px 100px 0 100px;
=======
    margin: 120px 200px 0 200px;
>>>>>>> 679e157fb3d35c246a0925371961cbef00f780bb
    text-align: justify;
    font-size: 20px;
}
#setaSenac {
    position: absolute;
    width: 20%;
    margin-top: -100px;
    margin-left: 8%;
    display: flex;
}
#setaSenacBaixo {
    position: absolute;
    width: 20%;
    transform: rotate(180deg);
    right: 5%;
}
article {
    background-color: #F56D20;
<<<<<<< HEAD
    margin: -90px -7px 0 -7px;
=======
    margin: -150px -7px 0 -7px;
>>>>>>> 679e157fb3d35c246a0925371961cbef00f780bb
    border-radius: 100px 100px 0 0;
    padding: 100px 0 100px;
}
#oqueVemPorAi {
    font-family: jersey25;
    font-size: 100px;
}
#textoDDS {
    font-family: jetbrainsmono;
    font-size: 20px;
    margin: 0 10% 0 35%;
    text-align: left;
}
#logoDoacaoDigitalSolidaria{
    position: absolute;
    margin-top: -5%;
    left: 15%;
    width: 20%;
}
#logoEcoCircuito {
    position: absolute;
    width: 20%;
    left: 65%;
    margin-top: -4%;
}
#textoEcoCircuito {
    font-family: jetbrainsmono;
    font-size: 20px;
    margin: 10% 35% 0 10%;
    text-align: right;
}
#logoGuiaCognitivo {
    position: absolute;
    width: 17%;
    right: 67%;
    margin-top: -4%;
}
#textoGC {
    font-family: jetbrainsmono;
    font-size: 20px;
    margin: 10% 10% 0 35%;
    text-align: left;
}
#logoVit {
    position: absolute;
    margin-top: -2%;
    width: 17%;
    left: 65%;
}
#textoVit {
    font-family: jetbrainsmono;
    font-size: 20px;
    margin: 10% 35% 5% 10%;
    text-align: right;
}

/*Footer*/
footer {
    background-color: #017DC8;
    margin: 0 -7px -50px;
    box-shadow: 0 0 30px rgb(49, 49, 49);
}
.logosBrancas {
    width: 20%;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 14px;
}
/*JavaScript*/
#menu1 {
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 250px;    
    top: -40px;
    height: 200px;
    background-color: #017DC8;
    z-index: 1;
}
#menu2 {
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 250px;
    top: -40px;
    height: 200px;
    background-color: #017DC8;
    z-index: 1;
}
#menu3 {
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 250px;
    top: -40px;
    height: 200px;
    background-color: #017DC8;
    z-index: 1;
    margin-right: 50%;
}
#menu4 {
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 250px;
    top: -40px;
    height: 200px;
    background-color: #017DC8;
    z-index: 1;
    margin-right: 100%;
}


@media screen and (max-width: 980px){
    /*Nav*/
    nav {
<<<<<<< HEAD
      height: 90px;
      padding-top: 50px;

    }
    input {
        font-size: 11px;
        margin-top: 30px;
    }
    #botao4 {
      font-size: 11px;
      margin-top: 30px;
    }
    #botao5 {
      margin-top: 30px;
      font-size: 11px;
=======
      height: 110px;
      padding-top: 20px;

    }
    input {
        font-size: 10px;
        margin-top: 30px;
    }
    #botao5 {
      margin-top: 30px;
      font-size: 12px;
>>>>>>> 679e157fb3d35c246a0925371961cbef00f780bb
    }
    #itens1 {
        width: 80px;
    }
    #itens2{
        width: 80px;
    }
    #itens3 {
        width: 80px;
    }
    #itens4 {
        width: 80px; 
    }   

    /*Header*/
    .wrapper {
      zoom: normal;
      margin: 115px 100px 0 100px;
    }

    #logoSenacColorida {
        width: 150px;
        height: 90px;
    }
    video {
        border-radius: 15px;
        width: auto;
    }
    #tituloPrincipal {
<<<<<<< HEAD
        font-size: 30px;
=======
        font-size: 40px;
>>>>>>> 679e157fb3d35c246a0925371961cbef00f780bb
        margin-left: 0;
        width: 100%;
    }
    #dataEvento {
<<<<<<< HEAD
        font-size: 10px;
=======
        font-size: 15px;
>>>>>>> 679e157fb3d35c246a0925371961cbef00f780bb
        margin-top: -50px;
    }

    /*Main*/
    #sobreOProjeto {
        font-size: 30px;
        margin-top: 30px;
    }
    #textoDoProjeto {
        margin: 0 20px -20px 20px;
        font-size: 15px;
    }
    #setaSenacBaixo {
      margin-right: 10%;
    }
    article {
<<<<<<< HEAD
        margin: -150px -8px 0 -8px;
=======
        margin: -200px -8px 0 -8px;
>>>>>>> 679e157fb3d35c246a0925371961cbef00f780bb
    }
    #oqueVemPorAi {
        font-size: 40px;
        margin-top: -10px;
    }
    #textoDDS {
        font-size: 12px;
    }
    #textoEcoCircuito {
        font-size: 12px;
    }
    #textoGC {
        font-size: 12px;
    }
    #textoVit {
        font-size: 12px;
    }
    #textoGeral {
      margin-left: 0;
      margin-right: 0;
      padding-left: 2px;
      padding-right: 2px;
    }

    /*JavaScript*/
    #menu1 {
        width: 90px;
        height: 150px;
    }   
    #menu2 {
        width: 90px;
        height: 150px;
    }
    #menu3 {
        width: 90px;
        height: 150px;
    }
    #menu4 {
        width: 90px;
        height: 150px;
    }
    
}
