/*Fontes*/
@font-face {
    font-family: jetbrainsmono;
    src: url(font/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Bold.ttf);
}
@font-face {
    font-family: jersey25;
    src: url(font/Jersey_25/Jersey25-Regular.ttf);
}

/*Navegação*/
body {
    background-color: #01AABA;
    color: white;
}
nav {
    background-color: #017DC8;
    text-align: center;
    margin: -10px -7px 50px;
}
#logoSenacBranca {
    margin: 10px 0 30px;
}
input {
    border: none;
    background-color: #017DC8;
    color: white;
}
aside {
    display: flex;
    justify-content: space-around;
}

/*Header*/
header {
    text-align: center;
}
#destaque {
    background-image: linear-gradient(to right, #2F2F93, #017DC8, #017DC8, #00994A, #D81721, #F56D20, #FFB813, #906000, #6BCFF8, #EF028D, #F499C1, #F499C1);/*Sim, isso é exigencia do cliente :(*/
    margin: 20px -8px 80px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(63, 63, 63);
}
#dataEvento {
    font-family: jetbrainsmono;
    font-size: 25px;
    margin-left: 40%;
}
#tituloPrincipal {
    font-family: jersey25;
    font-size: 120px;
    letter-spacing: 4px;
    margin: -20px 80px 50px 80px;
}

/*Main*/
main {
    text-align: center;
}
video {
    margin: auto;
    width: 90%;
    border-radius: 50px;
}
#sobreOProjeto {
    font-family: jersey25;
    font-size: 70px;
    margin-top: 50px;
}
#textoDoProjeto {
    font-family: jetbrainsmono;
    margin: 100px 150px -100px 150px;
    text-align: justify;
    font-size: 25px;
}
#setaSenac {
    position: absolute;
    width: 20%;
    margin-left: 8%;
    display: flex;
}
#setaSenacBaixo {
    position: absolute;
    width: 20%;
    transform: rotate(180deg);
    right: 5%;
}
article {
    background-color: #F56D20;
    margin: 300px -7px 0 -7px;
    border-radius: 100px 100px 0 0;
    padding: 100px 0 100px;
}
#oqueVemPorAi {
    font-family: jersey25;
    font-size: 100px;
}
#textoDDS {
    font-family: jetbrainsmono;
    font-size: 25px;
    margin: 0 10% 0 35%;
    text-align: left;
}
#logoDoacaoDigitalSolidaria{
    position: absolute;
    margin-top: -5%;
    left: 15%;
    width: 20%;
}
#logoEcoCircuito {
    position: absolute;
    width: 20%;
    left: 65%;
    margin-top: -4%;
}
#textoEcoCircuito {
    font-family: jetbrainsmono;
    font-size: 25px;
    margin: 10% 35% 0 10%;
    text-align: right;
}
#logoGuiaCognitivo {
    position: absolute;
    width: 17%;
    right: 67%;
    margin-top: -1%;
}
#textoGC {
    font-family: jetbrainsmono;
    font-size: 25px;
    margin: 10% 10% 0 35%;
    text-align: left;
}
#logoVit {
    position: absolute;
    margin-top: -2%;
    width: 17%;
    left: 65%;
}
#textoVit {
    font-family: jetbrainsmono;
    font-size: 25px;
    margin: 10% 35% 0 10%;
    text-align: right;
}

/*Footer*/
footer {
    background-color: #017DC8;
    margin: 0 -8px -200px;
    box-shadow: 0 0 30px rgb(49, 49, 49);
}
.logosBrancas {
    width: 20%;
}

@media screen and (max-width: 980px){
    /*Nav*/
    input {
        font-size: 10px;
    }
    #logoSenacBranca {
        width: 100px;
    }

    /*Header*/
    #logoSenacColorida {
        width: 200px;
    }
    video {
        border-radius: 15px;
    }
    #tituloPrincipal {
        font-size: 50px;
        margin-inline: 40px;
    }
    #dataEvento {
        font-size: 15px;
        margin-left: 25%;
        margin-block-end: 15px;
    }

    /*Main*/
    #sobreOProjeto {
        font-size: 50px;
    }
    #textoDoProjeto {
        margin: 0 50px -20px 50px;
        font-size: 15px;
    }
    article {
        margin-top: 150px;
        margin: 20% -8px 0 -8px;
    }
    #oqueVemPorAi {
        font-size: 40px;
        margin-top: -10px;
    }
    #textoDDS {
        font-size: 10px;
    }
    #textoEcoCircuito {
        font-size: 10px;
    }
    #textoGC {
        font-size: 10px;
    }
    #textoVit {
        font-size: 10px;
    }
    
}