/*Fontes*/
@font-face {
    font-family: jetbrainsmono;
    src: url(font/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Bold.ttf);
}
@font-face {
    font-family: jersey25;
    src: url(font/Jersey_25/Jersey25-Regular.ttf);
}

body {
    background-image: url('images/mulherPensando.webp');
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
nav {
    background-color: #017DC8;
    text-align: center;
    margin: -10px -7px 50px -7px;
}
input {
    border: none;
    background-color: #017DC8;
    color: white;
    cursor: pointer;
    z-index: 3;
}
aside {
    display: flex;
    justify-content: space-around;
}
#botoes {
    position: absolute;
    width: 81%;
    display: flex;
    justify-content: space-around;
}
#botao5 {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#itens1 {
    width: 250px;
    height: 100px;
}
#itens2 {
    width: 250px;
    height: 100px;
}
#itens3 {
    width: 250px;
    height: 100px;
}
#itens4 {
    width: 250px;
    height: 100px;
}
#dataEvento {
    font-family: jetbrainsmono;
    font-size: 20px;
    margin-top: -50px;
    right: 1500px;
    margin-left: 50%;
}
#tituloPrincipal {
    font-family: jersey25;
    font-size: 120px;
    letter-spacing: 4px;
    margin: -20px 80px 50px 80px;
}
h1 {
    text-align: center;
    font-size: 80px;
    font-family: jersey25;
}
h2 {
    font-family: jersey25;
}
.pagina {
    width: 300px;
    height: auto;
    margin: 10px;
    margin-bottom: 100px;
    border-radius: 50px;
    text-align: justify;
    font-size: 15px;
    background-color: rgb(251, 238, 253);
    padding: 30px;
    color: black;
    flex-grow: 1;
    flex-basis: 200;
}
.pagina:hover {
    zoom: 110%;
    height: auto;
    z-index: 1;
    box-shadow: 0 0 20px black;

}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
}
ol {
    text-align: left;
    font-family: jetbrainsmono;
}
ul {
    text-align: left;
    font-family: jetbrainsmono;
}
p {
    font-family: jetbrainsmono;
}
#pag1 {
    left: 10px;
}
#pag3 {
    right: 10px;
}

footer {
    background-color: #017DC8;
    margin: 0 -8px -20px;
    box-shadow: 0 0 30px rgb(49, 49, 49);
    padding-left: 15%;
    bottom: auto;
}
.logosBrancas {
    width: 20%;
}

@media screen and (max-width: 980px){
    #tituloPrincipal {
        font-size: 40px;
        margin-top: auto;
    }
    #dataEvento {
        font-size: 15px;
        margin-bottom: 30px;
    }
}

#linha-de-cima {
    width: 2px;
    height: 2px;
    background-color: #017DC8;
    margin-left: 40%;
    margin-bottom: -50px;
}
#linha-de-baixo {
    width: 2px;
    height: 2px;
    background-color: #017DC8;
    margin-top: -50px;
}

@media screen and (max-width: 980px){
    /*Nav*/
    nav {
      height: 90px;
    }
    input {
        font-size: 11px;
        height: 20px;
        margin-top: -5px;
    }
    #botao4 {
      font-size: 11px;
      margin-top: -2px;
    }
    #botao5 {
      font-size: 11px;
      margin-top: -2px;
    }
    #itens1 {
        width: 80px;
    }
    #itens2{
        width: 80px;
    }
    #itens3 {
        width: 80px;
    }
    #itens4 {
        width: 80px; 
    }   
    #tituloPrincipal {
        font-size: 30px;
        margin-left: 0;
        width: 100%;
    }
    #dataEvento {
        font-size: 10px;
        margin-top: -50px;
    }
}